<div class="ui container">
  <%= render partial: 'shared/flashes' %>
  <h4 class="ui center aligned icon header">
    <i class="circular coffee orange icon"></i>
    Say something
  </h4>
  
  <div class="ui grid">
    <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content" id="messages-container">
          <div class="ui feed" id="messages">
            <%= render @messages %>
          </div>
        </div>
        <div class="extra content">
          <%= form_with(model: @message, local: false, class: "ui reply form") do |f| %>
            <div class="field">
              <div class="ui fluid icon input">
                <%= f.text_field :body,  placeholder: "Enter a message...", class: "message-input" %>
                <%= f.submit style: "display: none" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui vertical pointing menu inverted">
            <a class="item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>